.historyContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px;
  margin-top: 25%;
  height: 60%;
  width: 100%;
  background-color: #fff;
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  overflow-y: auto;
}
